body {
    background: palevioletred;
}

ul{
    list-style: none;
}

.addTodo {
    background: white;
    color: deeppink;
}

.deleteTodoButton {
    background: white;
    color: red;
    border-radius: 55%;
}

.uncompleted {
    background: white;
    color: green;
    border-radius: 55%;
}

.completed {
    background: green;
    color: white;
    border-radius: 55%;

}