ul{
    list-style: none;
}

.addTodo {
    background: white;
    color: deeppink;
}

.deleteTodo {
    background: white;
    color: red;
    border-radius: 55%;
}

.complete {
    background: white;
    color: green;
    border-radius: 55%;
}